<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99845699754-hi31nmc8ut9gst2a5e69qerm0ni5u44s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99845699754-hi31nmc8ut9gst2a5e69qerm0ni5u44s</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ2GW2798NLvT-c8NsL1IZwSTUDWzejr4</string>
	<key>GCM_SENDER_ID</key>
	<string>99845699754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.filipemarques.IntaFirestoreClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-firestore-12a5d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-firestore-12a5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99845699754:ios:f36e27ee1c72ae72aaf8d3</string>
</dict>
</plist>